.container {
  @include flexSort(column, null, null, null);
  padding: 5rem 10rem;
}

.box {
  @include flexSort(column, center, center, 3rem);
}

.title {
  color: black;
  @include nsnFont(2.8rem, 400, 4.2rem);
}

.typeContainer {
  text-align: center;
  width: 100%;
  @include flexSort(column, center, center, null);
}

.cardListContainer {
  @include flexSort(column, null, center, 4rem);
}

.cardListBox {
  width: 100%;
  max-width: 150rem;
  padding: 12rem 0 4rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 6rem;
}

.button {
  z-index: 1;
  @include flexSort(null, null, center,1rem);
  margin-right: 3rem;
  align-self: flex-end;
  border: 0.1rem solid #9D9D9D;
  border-radius: 1rem;
  color: #9D9D9D;
  position: relative;
  width: 15rem;
  top: 6rem;
  @include nsnFont(1.8rem, 400, normal);
  padding: 0.2rem 1.3rem 0.2rem 2rem;
}

.button:hover {
  color: #6562e2;
  border-color: #6562e2;
}

.button:hover .arrow {
  fill: #6562e2;
}
