.Box {
  width: 100%;
  padding: 2.3rem 5rem;
  @include flexSort(null, space-between, center, null);
  border: 1px solid #9d9d9d;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: $gray-3;
  }
}

.leftBox {
  @include flexSort(column, null, null, 1rem);
}

.titleBox {
  @include flexSort(null, null, center, 3rem);
}

.postTypeLabel {
  @include nsnFont(1.7rem, 500, normal);
  color: $taker;
  &.giverType {
    color: $giver;
  }
}

.title {
  @include flexSort(null, null, center, 1rem);
}

.titleText {
  @include nsnFont(2rem, 600, normal);
}

.detailBox {
  @include flexSort(null, null, center, 1.2rem);
}

.districtBox,
.dateBox,
.timeBox {
  @include flexSort(null, null, center, 0.3rem);
  @include nsnFont(1.3rem, 300, normal);
}

.takerDoneBtn,
.takerVCBtn,
.giverVCBtn,
.giverVVBtn {
    @include nsnFont(1.3rem, 800, normal);
}