.container {
  @include flexSort(null, null, center, 3rem);

  .nameBox {
    @include flexSort(null, null, center, 1rem);
    @include font(2rem, 400, normal);
    border: 0.1rem solid $gray;
    padding: 1rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
  }

  .iconBox {
    @include flexSort(null, null, center, 1rem);
  }
}

.alarmContainer {
  position: relative;
}

.chat,
.alarm {
  cursor: pointer;
}

.alarmNumber {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: red;
  color: white;
  border-radius: 2rem;
  @include font(1rem, 400, normal);
  padding: 0.2rem 0.5rem;
}
