.modal {
  width: 65rem;
  max-height: 90%;
  @include flexSort(column, null, center, 2rem);
  padding: 1rem 2rem;
  position: relative;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  @include nsnFont(2.2rem, 800, normal);
}

.explanationBox {
  @include flexSort(column, null, null, 1rem);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 1rem 2rem;
  border-top: 1rem solid #45b555;
  border-radius: 0 0 1rem 1rem;
}

.explanationHeader {
  @include nsnFont(1.4rem, 800, normal);
}

.explanationContent {
  color: #787373;
  @include nsnFont(1.1rem, 700, normal);
  @include flexSort(column, null, null, 1rem);
}

.form {
  @include flexSort(column, null, null, 1.9rem);
  width: 100%;
}

.nameBox,
.emailBox,
.dateContainer,
.postBox,
.helpTypeTimeContainer {
  background-color: #f5f5f5;
  width: 100%;
  height: 10rem;
  @include flexSort(column, center, null, null);
  border-radius: 1rem;
  padding: 2rem;
}

.nameTitle,
.emailTitle,
.postTitle,
.dateTitle,
.timeTitle,
.thoughtsTitle {
  @include nsnFont(1.6rem, 800, normal);
}

.postContentBox {
  @include flexSort(null, center, center, 1rem);
}

.name,
.email,
.postType,
.postId {
  background-color: white;
  border: 0.1rem solid #d7d7d7;
  width: 100%;
  padding: 1rem 1.7rem;
  @include nsnFont(1.3rem, 400, normal);
  border-radius: 1rem;
  margin-top: 1rem;
}

.dateBox {
  width: 100%;
  margin-top: 1rem;
  @include flexSort(null, null, center, 1rem);
  border: 0.1rem solid #d7d7d7;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.calendar {
  z-index: 1;
  left: 1rem;
  top: 1rem;
}

.volunteeringDate {
  width: 100%;
  @include nsnFont(1.5rem, 400, normal);
}

.helpTypeTimeBox {
  margin-top: 1rem;
  @include flexSort(null, center, center, 1rem);
  width: 100%;
}

.helpTypeBox {
  width: 100%;
  @include nsnFont(1.5rem, 400, normal);
  padding: 1rem;
  border: 0.1rem solid #d7d7d7;
  background-color: white;
  border-radius: 1rem;
  @include flexSort(null, center, center, 1rem);
}

.helpTypeOption {
  @include nsnFont(1.5rem, 400, normal);
  padding: 1rem;
}

.assistanceStartTimeContainer {
  @include flexSort(null, null, center, 0.5rem);
}

.assistanceStartTime,
.assistanceEndTime {
  border-radius: 1rem;
  border: 0.1rem solid $gray;
  background-color: white;
  @include nsnFont(1.5rem, 400, normal);
  @include flexSort(null, center, center, null);
  padding: 1rem;
  width: 14rem;
}

.thoughtsContainer {
  background-color: #f5f5f5;
  width: 100%;
  height: 20rem;
  @include flexSort(column, null, null, 1rem);
  border-radius: 1rem;
  padding: 2rem;
}

.thoughtsHeader {
  color: #787373;
  @include nsnFont(1.3rem, 700, normal);
}

.thoughtsContentBox {
  width: 100%;
  height: 100%;
  border: 0.1rem solid #d7d7d7;
  resize: none;
  @include nsnFont(1.4rem, 400, normal);
  overflow-y: scroll;
  padding: 1rem;
  border-radius: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.completeVolunteeringBtn {
  width: 100%;
  border-radius: 0.5rem;
  background: #45b555;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  color: white;
  @include font(2rem, 700, normal);
  @include flexSort(null, center, center, null);
  padding: 1.55rem 3rem;
  margin-bottom: 3rem;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.errorMessage {
  @include nsnFont(1.2rem, 500, normal);
  color: red;
  margin-top: 0.5rem;
  position: absolute;
}
