.container {
  background: #e8e8e8;
  height: 100%;
  width: 9rem;
}

.profileContainer {
  margin-top: 2rem;
  @include flexSort(column, null, center, 2rem);
}

.profileImgBox {
  border: 0.2rem solid transparent;
  background: linear-gradient(to right, #6562e2 50%, #4885fe 50%);
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(45deg);
  @include flexSort(null, center, center, null);
  width: 5rem;
  height: 5rem;
}

.profileImg {
  transform: rotate(-45deg);
  border-radius: 50%;
}

.name {
  @include nsnFont(1.6rem, 700, normal);
}
