.container {
  width: 100%;
  height: 100%;
  @include flexSort(column, null, null, null);
}

.chatingBox {
  height: 90%;
  padding: 5rem;
}

.form {
  flex: 1;
  @include flexSort(null, space-between, center, null);
  margin: 1rem 5rem;
}

.input {
  width: 90%;
  height: 100%;
  @include gmarketFont(1.5rem, 500, normal);
  padding: 2rem;
  border: 0;
}
