.container {
  width: 100%;
  height: 4rem;
  position: relative;
}

.input {
  width: 100%;
  height: 100%;
  @include nsnFont(1.8rem, 400, normal);
  text-align: center;
  border-radius: 1rem;
  border: 0.1rem solid $gray;
  cursor: pointer;

  &::placeholder {
    color: #b7b7b7;
  }
}

.img {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.dropDownContainer {
  background-color: $white;
  position: absolute;
  width: 60%;
  left: 50%;
  top: 6rem;
  z-index: 1080;
  border: 0.1rem solid $gray;
  overflow-y: auto;
  transform: translate(-50%, 0);
}

.option {
  width: 100%;
  border-bottom: 0.1rem solid $gray;
  @include nsnFont(1.5rem, 400, normal);
  text-align: center;
  padding: 2rem 0;

  &:hover {
    background-color: $gray;
  }
}
