.main {
  background: linear-gradient(90deg, #c2e4ef 0%, #bfbef5 100%);
  width: 100%;
  height: 100%;
  @include flexSort(null, center, center, null);
  padding: 0 5rem;

  @include desktop {
    padding: 10rem 10rem;
  }
}

.container {
  @include flexSort(null, null, center, 13.8rem);

  @include desktop {
    max-width: 150rem;
    width: 100%;
    @include flexSort(null, space-between, center, null);
  }
}

.logoBox {
  @include flexSort(column, null, center, 2rem);
}

.logoContent {
  @include font(3rem, 300, normal);

  @include desktop {
    @include font(4rem, 300, normal);
  }
}

.loginContainer {
  padding: 3rem 4rem;
  background-color: $white;
  border-radius: 2rem;
  @include flexSort(column, null, center, 2rem);
}

.loginBox {
  @include flexSort(column, null, center, 3rem);

  @include desktop {
    gap: 17rem;
  }
}

.loginFormBox {
  width: 100%;
  @include flexSort(column, null, center, 4rem);
}

.formContainer {
  @include flexSort(column, null, center, 2rem);
  width: 100%;
}

.userInfoBox,
.buttonBox {
  @include flexSort(column, null, center, 1rem);
  width: 100%;
}

.emailBox,
.passwordBox {
  width: 100%;
  position: relative;
}

.email,
.password {
  width: 100%;
  height: 5.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #d1d1d1;
  padding: 1.3rem 5rem;
  @include font(1.6rem, 500, normal);
}

.messageIcon,
.passwordIcon {
  position: absolute;
  left: 1.7rem;
  top: 50%;
  transform: translate(0, -50%);
}

.loginBtn,
.signUpBtn {
  width: 100%;
  height: 5.4rem;
  @include flexSort(null, center, center, null);
  @include font(1.4rem, 700, normal);
  border-radius: 0.5rem;
}

.loginBtn {
  background: #b7b7b7;
  border: 0.1rem solid #b7b7b7;
  color: white;
}

.signUpBtn {
  background: #f2f2f2;
  border: 0.1rem solid #d1d1d1;
  color: black;
}

.loginTitleBox {
  @include flexSort(column, null, center, 0.5rem);
}

.loginEnglishTitle {
  @include font(3rem, 600, normal);

  @include desktop {
    @include font(4rem, 600, normal);
  }
}

.loginKoreanTitle {
  @include font(1.5rem, 300, normal);

  @include desktop {
    @include font(2rem, 600, normal);
  }
}

.kakaoLoginBox {
  width: 100%;
  @include flexSort(column, null, center, 1rem);

  @include desktop {
    gap: 2rem;
  }
}

.kakaoLoginHeader {
  @include font(1.5rem, 400, normal);

  @include desktop {
    @include font(2rem, 400, normal);
  }
}

.kakaoButton {
  background-color: $kakao;
  border-radius: 1rem;
  @include flexSort(null, center, center, null);
  padding: 1.2rem 0;
  width: 100%;
  position: relative;

  @include desktop {
    padding: 2rem 0;
  }
}

.kakao {
  position: absolute;
  left: 1rem;

  @include desktop {
    left: 3rem;
  }
}

.kakaoLogin {
  @include font(1.4rem, 400, normal);

  @include desktop {
    @include font(1.8rem, 400, normal);
  }
}

.loginInfo {
  @include font(1.3rem, 400, normal);

  @include desktop {
    @include font(1.8rem, 400, normal);
  }
}
