.main {
  width: 100%;
  height: 100%;
  @include flexSort(null, center, center, null);
}

.container {
  border-radius: 2rem;
  padding: 5rem;
  @include flexSort(null, null, center, 13.8rem);
  background: linear-gradient(90deg, #c2e4ef 0%, #bfbef5 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.8rem 4rem 0rem;
}

.logoBox {
  @include flexSort(column, null, center, 2rem);
}

.logoContent {
  @include font(2rem, 400, normal);
}

.loginContainer {
  padding: 6rem 3rem 3rem 3rem;
  background-color: $white;
  border-radius: 2rem;
  @include flexSort(column, space-between, center, 2rem);
  height: 47.28rem;
}

.loginBox {
  @include flexSort(column, null, center, 12rem);
}

.loginTitleBox {
  @include flexSort(column, null, center, 0.5rem);
}

.loginEnglishTitle {
  @include font(3rem, 600, normal);
}

.loginKoreanTitle {
  @include font(1.5rem, 400, normal);
}

.kakaoLoginBox {
  width: 100%;
  @include flexSort(column, null, center, 1rem);
}

.kakaoButton {
  background-color: $kakao;
  border-radius: 1rem;
  @include flexSort(null, center, center, null);
  padding: 1.2rem 2rem;
  width: 100%;
  position: relative;
}

.testButton {
  background-color: green;
  border-radius: 1rem;
  @include flexSort(null, center, center, 2rem);
  padding: 1.2rem 2rem;
  width: 100%;
}

.kakao {
  position: absolute;
  left: 1rem;
}

.kakaoLogin {
  @include font(1.2rem, 300, normal);
}

.testLoginInput {
  width: 10rem;
  padding: 1rem;
  border-radius: 1rem;
}

.testLoginButton {
  border: 0.1rem solid black;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

.loginInfo {
  @include font(1.2rem, 300, normal);
}
