.container {
  @include flexSort(column, null, null, null);
  padding: 5rem 23rem;
}

.title {
  color: black;
  @include nsnFont(2.6rem, 550, 3.5rem);
}

.typeContainer {
  text-align: center;
  width: 100%;
  @include flexSort(column, center, center, 5rem);
}

.cardListContainer {
  @include flexSort(column, null, center, 4rem);
}

.cardListBox {
  width: 100%;
  max-width: 150rem;
  padding: 12rem 0 4rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.button {
  z-index: 1;
  @include flexSort(null, null, center, 1rem);
  right: 0;
  align-self: flex-end;
  border: 0.1rem solid #9d9d9d;
  border-radius: 1rem;
  color: #9d9d9d;
  position: relative;
  top: 7rem;
  @include nsnFont(1.8rem, 400, normal);
  padding: 0.4rem 1.7rem 0.4rem 2.6rem;
}

.button:hover {
  color: $giver;
  border-color: $giver;
}

.button:hover .arrow {
  fill: $giver;
}
