.container {
  @include flexSort(column, null, null, null);
  padding: 10rem;
}

.box {
  @include flexSort(column, center, center, 3rem);
}

.title {
  color: $giver;
  @include gmarketFont(3.2rem, 700, normal);
}

.typeContainer {
  width: 100%;
  position: relative;
  @include flexSort(null, center, center, null);
  border-top: 0.1rem solid #cccccc;
  border-bottom: 0.1rem solid #cccccc;
}

.typeBox {
  margin: 2rem 0;
  //background-color: $gray-1;
  @include flexSort(null, center, center, 4rem);
  @include font(2.1rem, 600, normal);
  color: #787373;
  padding: 1.6rem 3rem;
  border-radius: 3rem;
}

.cardListContainer {
  @include flexSort(column, null, center, 4rem);
}

.cardListBox {
  width: 100%;
  max-width: 150rem;
  padding: 12rem 0 4rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 6rem;
}

.button {
  position: absolute;
  right: 0;
  top: 2rem;
  @include font(2.2rem, 500, normal);
  border: 0.1rem solid #787373;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.arrowBtn{
  width: 2.5rem;
}
