.container {
  @include flexSort(column, null, null, null);
  width: 45%;
  border-right: 0.3rem solid #e8e8e8;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.headerBox {
  padding: 2rem 5rem;
  @include nsnFont(2.5rem, 600, normal);
  @include flexSort(column, null, null, 2rem);
  border-bottom: 0.3rem solid #e8e8e8;
}

.headerDetailBox {
  @include flexSort(column, null, null, 1rem);
}

.volunteerBox,
.certificationCreatedDateBox {
  @include flexSort(null, null, center, 1rem);
}

.volunteerTitle,
.certificationCreatedDateTitle {
  @include nsnFont(1.5rem, 700, normal);
  width: 10rem;
}

.boundary {
  color: #c6c6c6;
  @include nsnFont(1.5rem, 700, normal);
}

.volunteer,
.certificationCreatedDate {
  @include nsnFont(1.2rem, 400, normal);
}

.volunteerContentBox {
  padding: 2rem 5rem;
  @include flexSort(column, null, null, 1rem);
}

.volunteerNameBox,
.volunteerNicknameBox,
.postBox,
.volunteerDateBox,
.volunteerTimeBox,
.volunteerDetailContentBox {
  @include flexSort(column, null, null, 1rem);
}

.volunteerNameTitle,
.volunteerNicknameTitle,
.postTitle,
.volunteerDateTitle,
.volunteerTimeTitle,
.volunteerContentTitle {
  @include nsnFont(1.6rem, 800, normal);
}

.volunteerName,
.volunteerNickname,
.post,
.volunteerDate,
.assistanceType,
.startTime,
.endTime {
  border: 0.1rem solid #d7d7d7;
  width: 100%;
  @include nsnFont(1.5rem, 400, normal);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.volunteerTimeDetailBox {
  @include flexSort(null, null, center, 1rem);
}

.postDetailBox {
  @include flexSort(null, null, null, 1rem);
}

.volunteerContent {
  border: 0.1rem solid #d7d7d7;
  @include nsnFont(1.5rem, 400, normal);
  padding: 1rem 2rem;
  border-radius: 1rem;
  min-height: 20rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.btnContainer {
  margin-top: 1rem;
  @include flexSort(null, flex-end, null, null);
}

.btnBox {
  @include flexSort(null, null, null, 1rem);
}

.deleteBtn {
  border-radius: 1rem;
  border: 0.15rem solid #5f5f5f;
  color: #5f5f5f;
  @include nsnFont(1.5rem, 700, normal);
  width: fit-content;
  padding: 0.5rem;
}

.blackListBtn {
  border-radius: 1rem;
  @include nsnFont(1.5rem, 700, normal);
  @include flexSort(null, center, center, 0.5rem);
  width: fit-content;
  padding: 0.5rem;
  border: 0.15rem solid #b7b7b7;
  background: #f1f5f9;
  color: #5f5f5f;
}
