.container {
  background-image: url("%3Csvg width='848' height='107' viewBox='0 0 848 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='11' width='837' height='107' rx='15' fill='%23F5F5F5'/%3E%3Cpath d='M26.7001 13.6356C26.7001 21.805 26.1289 31 17.9713 31C9.81373 31 11.2563 26.3068 11.2563 18.1375C11.2563 9.96818 -2.84191 -1.18445 0.517393 0.102031C8.67499 0.102031 26.7001 5.4663 26.7001 13.6356Z' fill='%23F5F5F5'/%3E%3C/svg%3E");
  border-bottom: 0.1rem solid $black-1;
  width: 100%;

  &:first-child {
    border-top: 0.1rem solid $black-1;
  }
}

.box {
  position: relative;
  margin: 2rem;
  @include flexSort(null, null, center, 2rem);
}

.img {
  position: relative;

  &:hover {
    .commentWriterInfoBox {
      display: flex;
    }
  }
}

.commentWriterImage {
  border-radius: 50%;
  cursor: pointer;
}

.commentWriterInfoBox {
  position: absolute;
  top: -16rem;
  border: 0.1rem solid #787373;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  @include flexSort(column, null, center, 1rem);
  width: 22rem;
  left: -9rem;
  z-index: 1;
  display: none;

  &.clicked {
    display: flex;
  }
}

.commentWriterBoxImage {
  border-radius: 50%;
}

.commentWriterNickname {
  @include font(1.8rem, 600, normal);
}

.commentWriterAge,
.commentWriterGender {
  @include font(1.5rem, 300, normal);
}

.contentBox {
  @include flexSort(column, null, flex-start, 1rem);
  width: 100%;
}

.titleBox {
  @include flexSort(null, null, center, 1rem);
}

.nickname {
  @include font(2rem, 600, normal);
}

.date {
  @include font(1.5rem, 400, normal);
  color: $gray-2;
}

.content {
  @include font(2rem, 400, normal);
}

.kebabBox {
  position: absolute;
  right: 0;
  top: 0;
}

.kebab {
  cursor: pointer;
}

.editBox {
  z-index: 1;
  border-radius: 1rem;
  border: 0.1rem solid #4d4d4d;
  position: absolute;
  bottom: -4rem;
  right: -6rem;
  background-color: white;
  @include flexSort(column, null, center, null);

  button {
    padding: 0.7rem 1.2rem;
    @include font(1.5rem, 400, normal);
  }
}

.editTextarea {
  width: 100%;
  min-height: 10rem;
  border-radius: 1rem;
  padding: 1rem;
}

.editBtnBox {
  z-index: 1;
  position: absolute;
  right: 10%;
  top: 1%;
}

.saveBtn {
  @include font(1.5rem, 400, normal);
  padding: 0.3rem 2rem;
  background-color: #e7efff;
  border: solid 0.0625rem gray;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.cancelBtn {
  @include font(1.5rem, 400, normal);
  padding: 0.3rem 2rem;
  background-color: white;
  border: solid 0.0625rem gray;
  border-radius: 0.5rem;
}

.sirenBtn {
  @include flexSort(null, null, null, 0.5rem);
  @include nsnFont(1rem, 300, normal);
}
