.container {
  border-bottom: 0.1rem solid $black-1;
  width: 100%;

  &:first-child {
    border-top: 0.1rem solid $black-1;
  }
}

.box {
  position: relative;
  margin: 2rem;
  @include flexSort(null, null, center, 2rem);
}

.img {
  position: relative;

  &:hover {
    .commentWriterInfoBox {
      display: flex;
    }
  }
}

.commentWriterImage {
  border-radius: 50%;
  cursor: pointer;
}

.commentWriterInfoBox {
  position: absolute;
  top: -16rem;
  border: 0.1rem solid #787373;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  @include flexSort(column, null, center, 1rem);
  width: 22rem;
  left: -9rem;
  z-index: 1;
  display: none;

  &.clicked {
    display: flex;
  }
}

.commentWriterBoxImage {
  border-radius: 50%;
}

.commentWriterNickname {
  @include font(1.8rem, 600, normal);
}

.commentWriterAge,
.commentWriterGender {
  @include font(1.5rem, 300, normal);
}

.contentBox {
  @include flexSort(column, null, flex-start, 1rem);
  width: 100%;
}

.titleBox {
  @include flexSort(null, null, center, 1rem);
}

.nickname {
  @include font(2rem, 600, normal);
}

.date {
  @include font(1.5rem, 400, normal);
  color: $gray-2;
}

.content {
  @include font(2rem, 400, normal);
}

.kebabBox {
  position: absolute;
  right: 0;
  top: 0;
}

.kebab {
  cursor: pointer;
}

.editBox {
  z-index: 1;
  border-radius: 1rem;
  border: 0.1rem solid #4d4d4d;
  position: absolute;
  bottom: -4rem;
  right: -6rem;
  background-color: white;
  @include flexSort(column, null, center, null);

  button {
    padding: 0.7rem 1.2rem;
    @include font(1.5rem, 400, normal);
  }
}

.editTextarea {
  width: 100%;
  min-height: 10rem;
  border-radius: 1rem;
  padding: 1rem;
}

.editBtnBox {
  z-index: 1;
  position: absolute;
  right: 10%;
  top: 1%;
}

.saveBtn {
  @include font(1.5rem, 400, normal);
  padding: 0.3rem 2rem;
  background-color: #e7efff;
  border: solid 0.0625rem gray;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.cancelBtn {
  @include font(1.5rem, 400, normal);
  padding: 0.3rem 2rem;
  background-color: white;
  border: solid 0.0625rem gray;
  border-radius: 0.5rem;
}
