.container {
  position: relative;
  padding: 0.7rem 0rem;
  width: 100%;
  height: auto;
  @include flexSort(null, null, center, 1rem);
}

.img {
  position: relative;

  &:hover {
    .commentWriterInfoBox {
      display: flex;
    }
  }
}

.commentWriterImage {
  border-radius: 50%;
  cursor: pointer;
}

.commentWriterInfoBox {
  position: absolute;
  top: -16rem;
  border: 0.1rem solid #787373;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  @include flexSort(column, null, center, 1rem);
  width: 22rem;
  left: -9rem;
  z-index: 1;
  display: none;

  &.clicked {
    display: flex;
  }
}

.commentWriterBoxImage {
  border-radius: 50%;
}

.commentWriterNickname {
  @include font(1.8rem, 600, normal);
}

.commentWriterAge,
.commentWriterGender {
  @include font(1.5rem, 300, normal);
}
 
.commentBackground {
  background-color: #F5F5F5;
  border-radius: 1.5rem;
  &.editingBackground {
    box-shadow : 0.2rem 0.2rem 0.6rem 0.1rem #d1cece;
  }
  max-width: 80%;
}

.titleBox:before {
  left: -1rem;
  border-top: 2rem solid #F5F5F5;
  border-left: 2.5rem solid transparent;
  content:"";
  position:absolute;
 }

.box {
  position: relative;
  padding: 1.7rem 2.5rem;
  @include flexSort(column, null, center, 1rem);
  width: auto;
  min-width: 40rem;
}

.upperContentBox {
  @include flexSort(null, space-between, center, null);
  width: 100%;
}

.titleBox {
  @include flexSort(null, null, flex-end, 1rem);
}

.nickname {
  @include nsnFont(2rem, 300, normal);
}

.date {
  @include nsnFont(1.2rem, 300, normal);
  color: $gray-2;
}

.contentBox {
  @include flexSort(column, null, null, 1rem);
  width: 100%;
}

.content {
  @include nsnFont(2rem, 400, normal);
  word-break: break-all;
}

.kebabBox {
  position: relative;
}

.kebab {
  cursor: pointer;
  stroke: #33363F;
}

.editBox {
  z-index: 1;
  border-radius: 1rem;
  border: 0.1rem solid #E2E8F0;
  position: absolute;
  bottom: -4rem;
  right: -8rem;
  background-color: white;
  @include flexSort(column, null, center, null);
  box-shadow : 0.1rem 0.1rem 0.4rem 0.01rem #d1cece;

  button {
    padding: 0.7rem 2rem;
    @include font(1.5rem, 400, normal);
    &:first-child{
      border-bottom: 0.1rem solid #E2E8F0;
    }
  }
}

.editTextarea {
  all:unset;
  @include nsnFont(2rem, 400, normal);
  width: auto;
  height: auto;
  min-width: 60rem;
  min-height: 10rem;
  word-break: break-all;
}

.editBtnBox {
  @include flexSort(column, null, null, 0.5rem);
  align-self: flex-end;
}

.saveBtn {
  @include nsnFont(1.3rem, 400, normal);
  padding: 0.5rem 1rem;
  color:white;
  background-color: #5F5F5F;
  border-radius: 0.5rem;
  text-align: center;

  &:hover {
    box-shadow : 0rem 0rem 0.2rem 0.1rem #d1cece;
  }
  
}

.cancelBtn {
  @include nsnFont(1.3rem, 400, normal);
  padding: 0.45rem 1rem;
  color:#5F5F5F;
  background-color: white;
  border: solid 0.0625rem #5F5F5F;
  border-radius: 0.5rem;
  text-align: center;

  &:hover {
    box-shadow : 0rem 0rem 0.2rem 0.1rem #d1cece;
  }
}

.sirenBtn {
  @include flexSort(null, null, flex-end, 0.2rem);
  @include nsnFont(1.2rem, 300, normal);
  cursor: pointer;
}
