.container {
  @include flexSort(column, null, null, 2rem);
  width: 100%;
}

.header {
  @include flexSort(null, space-between, center, null);
  border-bottom: 0.1rem solid $gray;
  padding-bottom: 1rem;
  @include nsnFont(2.5rem, 800, normal);
}

.postListBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.heart {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
