.container {
  @include flexSort(null, null, center, null);
  height: 8.7rem;
  border-bottom: 0.1rem solid #e8e8e8;
}

.stateBox {
  width: 100%;
  @include flexSort(null, space-evenly, center, null);

  button {
    @include nsnFont(1.5rem, 400, normal);
    border-radius: 3rem;
    border: 0.2rem solid #b7b7b7;
    @include flexSort(null, center, center, null);
    width: 10rem;
    height: 3.8rem;
    box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);

    &.selected {
      border: 0.2rem solid #e7efff;
      background: #e7efff;
    }
  }
}
