.cardContainer {
  width: 100%;
  height: auto;
  aspect-ratio: 1/ 1.3;
  border-radius: 2rem;
  position: relative;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  color: $black-1;

  &.giver {
    background-color: $giver;
  }

  &.taker {
    background-color: $taker;
  }
}

.contentContainer {
  width: 100%;
  height: calc(100% - 1rem);
  background-color: $white;
  position: absolute;
  bottom: 0;
  border-radius: 2rem;
  padding: 0;

  &:hover {
    background-color: $gray-3;
  }
}

.progress {
  position: absolute;
  left: 3rem;
  @include gmarketFont(2.3rem, 500, normal);
  background-color: $giver;
  padding: 0 2rem 1rem 2rem;
  border-radius: 0 0 1rem 1rem;

  &:giver {
    background-color: $giver;
  }

  &.taker {
    background-color: $taker;
  }
}

.heart {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.order {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  @include gmarketFont(3.2rem, 300, normal);

  @include smallDesktop {
    @include gmarketFont(2.8rem, 300, normal);
  }
}

.contentBox {
  height: calc(100% - 7.5rem);
  margin-top: 7.5rem;
  padding: 0rem 2rem 0 2rem;
  @include flexSort(column, space-between, null, null);
  position: relative;

  @include smallDesktop {
    margin-top: 5rem;
  }
}

.Box {
  @include flexSort(column, null, null, 5rem);

  @include smallDesktop {
    gap: 3rem;
  }
}

.title {
  @include font(2rem, 500, normal);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @include smallDesktop {
    @include font(1.8rem, 500, normal);
  }
}

.detailBox {
  margin-left: 1rem;
  @include flexSort(column, null, null, 1rem);
  @include font(1.7rem, 300, normal);

  @include smallDesktop {
    @include font(1.4rem, 300, normal);
    gap: 0.5rem;
  }
}

.hashtagBox {
  @include flexSort(null, null, center, 1rem);
  @include font(2rem, 300, normal);
  padding-bottom: 1rem;

  @include smallDesktop {
    @include font(1.6rem, 300, normal);
    padding-top: 2rem;
  }
}

.hr {
  width: calc(100% - 4rem);
  position: absolute;
  border-bottom: 0.1rem solid $gray;
  top: 7.5rem;

  @include smallDesktop {
    top: 6rem;
  }
}
