.cardContainer {
  width: 100%;
  height: auto;
  aspect-ratio: 326 / 350;
  border-radius: 2rem;
  position: relative;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  color: $black-1;

  &.giver {
    background-color: $giver;
  }

  &.taker {
    background-color: $taker;
  }
}

.contentContainer {
  width: 100%;
  height: calc(100% - 1.5rem);
  background-color: $white;
  position: absolute;
  bottom: 0;
  border-radius: 2rem;

  &:hover {
    background-color: $gray-3;
  }
}

.progress {
  position: absolute;
  left: 3rem;
  padding: 0 2rem 1rem 2rem;
  border-radius: 0 0 1rem 1rem;
  color: white;
  @include nsnFont(1.6rem, 700, normal);

  &.taker {
    background-color: $taker;
  }

  &.giver {
    background-color: $giver;
  }
}

.heart {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.contentBox {
  height: calc(100% - 3rem);
  margin-top: 3rem;
  padding: 2rem;
}

.box {
  @include flexSort(column, null, null, 1rem);
  height: 100%;

  @include smallDesktop {
    gap: 3rem;
  }
}

.title {
  @include font(2rem, 500, normal);
  @include line-clamp(2);
  border-bottom: 0.1rem solid #ccc;
  height: 6.36rem;

  @include smallDesktop {
    @include font(1.8rem, 500, normal);
  }
}

.detailBox {
  @include flexSort(column, null, null, 1rem);
  @include font(1.7rem, 300, normal);

  @include smallDesktop {
    @include font(1.4rem, 300, normal);
    gap: 0.5rem;
  }
}

.districtBox,
.calendarBox,
.clockBox,
.headcountBox {
  @include flexSort(null, null, center, 0.5rem);
}

.clockImgBox {
  width: 2.2rem;
  height: 2.2rem;
}

.district,
.calendar,
.clock,
.headcount {
  @include nsnFont(1.3rem, 400, normal);
}

.hashtagBox {
  @include flexSort(null, null, center, 1rem);
  @include font(2rem, 300, normal);
  padding-bottom: 1rem;

  @include smallDesktop {
    @include font(1.6rem, 300, normal);
    padding-top: 2rem;
  }
}

.postLabelBox {
  @include flexSort(null, null, center, 1rem);
  position: absolute;
  right: 6rem;
  bottom: 1rem;
  z-index: 1;
}

.postId {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  z-index: 1;
  @include nsnFont(2rem, 900, normal);
}
