.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //background-color: aliceblue;

    position: absolute;
    top: 37%;
    left: 23%;
    z-index: 10;
}

.filter-container {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    border: solid 1.5px lightgray;
    border-radius: 0.5rem;
    background-color: white;
    // position: fixed;
    // left: 60rem;
}

.filter-column {
    padding: 0.7rem 2.5rem;
    //background-color: antiquewhite;
    //border-right: solid 1px lightgray;
    width: 15rem;
    justify-content: space-around;
}

.option-label {
    display: flex;
    align-items: center;
    //justify-content: center;
    //background-color: aquamarine;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 300;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none; /* Safari 지원을 위한 옵션 */
    -moz-appearance: none; /* Firefox 지원을 위한 옵션 */
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
    margin-right: 1rem;
    cursor: pointer;
    &:checked {
        background-color: #E7EFFF;
     }
}

.tag-container {
    
    margin-top: 4rem;
    color: #787373;
    width: 25rem;
    // position: fixed;
    // left: 30rem;
}

.tag {
    @include gmarketFont(1.6rem, 300, lighter);
    margin-right: 2rem;
    background-color: #E7EFFF;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    border: solid 0.8px #787373;
}

.deleteBtn {
    padding-left: 0.8rem;
    padding-right: 0.2rem;
}




