.container {
  flex: 1;
  background-color: white;
  @include flexSort(column, null, null, null);
  position: relative;
}

.noChatingRoom {
  border-radius: 2rem;
  background-color: white;
  @include flexSort(null, center, center, null);
  @include nsnFont(2.3rem, 700, normal);
  flex: 1;
}
