.container {
  background-color: white;
  border-radius: 2rem;
  width: 88rem;
  @include flexSort(column, null, null, null);
  height: 60rem;
  position: relative;
  border: 0.1rem solid #e6e6ea;
  overflow: hidden;
}

.noChatingRoom {
  width: 88rem;
  border-radius: 2rem;
  height: 60rem;
  background-color: white;
  @include flexSort(null, center, center, null);
  @include gmarketFont(2rem, 500, normal);
}

.chatingOutContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  @include flexSort(null, null, null, null);
}

.grayContainer {
  background: rgba(184, 184, 184, 0.64);
  width: 60%;
}

.whiteContainer {
  position: relative;
  background-color: white;
  z-index: 2;
  flex: 1;
  padding-left: 3rem;
  @include flexSort(column, null, null, 5rem);
}

.chatingRoomOutButton {
  margin-top: 10rem;
  @include gmarketFont(2rem, 400, normal);
}

.stateChangeButton {
  position: relative;
  @include gmarketFont(2rem, 400, normal);
  @include flexSort(null, null, null, 1rem);
}

.arrowDown {
  rotate: 180deg;
}

.matchingStateContainer {
  position: absolute;
  border-radius: 1rem;
  border: 0.1rem solid #e6e6ea;
  @include flexSort(column, null, center, 2rem);
  bottom: -11rem;
  padding: 2rem 3rem;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
