.container {
  width: 100%;
  padding: 2rem 5rem;
  @include flexSort(null, space-between, center, null);
  border: 1px solid #9d9d9d;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  min-height: 10rem;

  &:hover {
    background-color: $gray-3;
  }
}

.leftBox {
  @include flexSort(column, null, null, 1rem);
}

.titleBox {
  @include flexSort(null, null, center, 3rem);
}

.titleText {
  @include nsnFont(2rem, 600, normal);
}

.detailBox {
  @include flexSort(null, null, center, 1.2rem);
}

.postTypeLabel {
  @include nsnFont(1.3rem, 400, normal);
  color: $taker;
  &.giverType {
    color: $giver;
  }
}

.postTitle {
  @include nsnFont(1.3rem, 400, normal);
  color: #B5B3B3;
}

.date {
  @include nsnFont(1.5rem, 400, normal);
  color: #757272;
}

.postTagBox {
  @include flexSort(null, null, center, 0.8rem);
  margin-bottom: auto;
}

.postTag {
  @include nsnFont(1.2rem, 800, normal);
  background-color: #CAE9FF;
  color: #2678FF;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
}
