.container {
  @include flexSort(column, null, null, 2rem);
  flex: 1;
}

.title {
  @include nsnFont(3rem, 500, normal);
}

.form {
  background-color: white;
  @include flexSort(column, null, null, 4rem);
  padding: 7rem 20rem;
}

.imgContainer {
  position: relative;
  @include flexSort(null, center, null, null);
}

.img {
  border-radius: 50%;
}

.imgEditBtn{
  position: absolute;
  top: 7rem;
  left: 53%;
  cursor: pointer;
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.nameContainer,
.nicknameContainer,
.ageContainer,
.genderContainer,
.disabilityTypeContainer,
.emailContainer {
  @include flexSort(column, null, null, 2rem);
}

.nameTitle,
.nicknameTitle,
.ageTitle,
.genderTitle,
.disabilityTypeTitle, 
.emailTitle {
  @include nsnFont(2rem, 500, normal);
  padding: 0.7rem 0rem;
  border-bottom: solid 0.1rem black;
}

.nickname {
  border-radius: 1rem;
  border: 0.1rem solid #cbc9cf;
  height: 4rem;
  padding: 2rem;
  @include flexSort(null, null, center, null);
  @include nsnFont(1.7rem, 400, normal);
}

.errorMessage {
  color: #F92D2D;
}

.name,
.age,
.gender,
.email {
  @include nsnFont(1.7rem, 400, normal);
  padding: 0 0.4rem;
}

.buttonContainer {
  width: 100%;
  @include flexSort(null, center, center, null);
}

.button {
  border-radius: 1rem;
  border: 0.2rem solid #9D9D9D;
  color: #9D9D9D;
  padding: 1.5rem 3rem;
  @include flexSort(null, center, center, null);
  @include nsnFont(1.8rem, 800, normal);
  &.active{
    border: 0.2rem solid #4885FE;
    color: #4885FE;
  }
}
