@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin sopoqa($size, $weight, $height) {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $height;
}
