@font-face {
  font-family: "GmarketSans";
  font-weight: 100 900;
  src: url("../assets/fonts/GmarketSansTTFMedium.ttf") format("woff");
}

@mixin font($size, $weight, $height) {
  font-family: Pretendard;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $height;
}

@mixin gmarketFont($size, $weight, $height) {
  font-family: "GmarketSans";
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $height;
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
}
