$breakpoint-desktop: 1550px;
$breakpoint-smallDesktop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin smallDesktop {
  @media (min-width: #{$breakpoint-smallDesktop}) 
    and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) 
    and (max-width: #{$breakpoint-smallDesktop - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) 
      and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}
