.container {
  @include flexSort(null, center, center, null);
  border-bottom: 0.1rem solid $gray;
}

.header {
  padding: 0 10rem;
  max-width: 150rem;
  width: 100%;
  position: relative;
  @include flexSort(null, space-between, center, null);

  .logoContainer {
    @include flexSort(null, null, null, 0.4rem);
  }

  .nav {
    @include gmarketFont(2.3rem, 500, normal);
    @include flexSort(null, null, center, 15rem);
    height: 100%;

    @include smallDesktop {
      gap: 10rem;
    }
  }

  .navContent {
    padding: 2rem 0;
    height: 100%;
    @include flexSort(null, null, center, null);

    &.helpMe {
      color: $taker;
    }

    &.helpYou {
      color: $giver;
    }

    // &.myWrite {
    //   color: $taker;
    // }
  }
}
