.box {
  @include flexSort(null, center, center, null);
  border-radius: 0.6rem;
  padding: 0.3rem 0.8rem;
  border: 0.1rem solid #ff6767;
  @include nsnFont(1.2rem, 500, normal);

  &.RECRUITING {
    background-color: white;

    .statusText {
      color: #ff6767;
    }
  }

  &.FINISHED {
    background-color: white;

    .statusText {
      color: #ff6767;
    }
  }
}
