.postTypeFilterBox {
  @include flexSort(null, center, center, null);
  @include nsnFont(2rem, 500, normal);
}

.takerBox,
.giverBox {
  @include flexSort(column, center, center, null);
  color: #efefef;
}

.takerBox{
  &.picked {
    color: #6562E2;
  }
}

.giverBox{
  &.picked {
    color: #4885FE;
  }
}

.taker,
.giver {
  width: 16rem;
  height: 0.4rem;
  background-color: #efefef;
  border-radius: 0.2rem;
}

.taker {
  &.picked {
    background-color: #6562E2;
  }
}

.giver {
  &.picked {
    background-color: #4885FE;
  }
}
