.container {
  padding: 1.5rem;
  @include flexSort(null, null, null, null);
  border-bottom: 0.1rem solid #e6e6e6;
}

.box {
  @include flexSort(null, null, center, 1rem);
  position: relative;
  width: 100%;
}

.img {
  border-radius: 50%;
}

.contentBox {
  @include flexSort(column, null, null, 1rem);
  flex: 1;
}

.headerBox {
  @include flexSort(null, null, center, 0.3rem);
  color: black;
}

.name,
.dot,
.type {
  @include nsnFont(1.3rem, 700, normal);
}

.name {
  @include line-clamp(1);
  width: 5rem;
}

.dot {
  color: #ccc;
}

.content {
  @include nsnFont(1.3rem, 500, normal);
  color: #8d8989;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 22.4rem;
}

.date {
  position: absolute;
  color: #8d8989;
  @include nsnFont(1.1rem, 500, normal);
  right: 0;
  top: 0;
}

.unreadMessagesCount {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #9290ea;
  @include flexSort(null, center, center, null);
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
