.container {
  @include flexSort(null, null, null, 1rem);
}

.name {
  @include gmarketFont(1.5rem, 400, normal);
}

.img {
  border-radius: 50%;
}

.nameContainer {
  @include flexSort(column, null, null, 1rem);
}

.chat {
  width: 30rem;
  border-radius: 2rem;
  background: #e6e6ea;
  padding: 2rem;
  @include gmarketFont(1.5rem, 400, normal);
  top: 2rem;
  overflow-wrap: break-word;
}
