.container {
  @include flexSort(null, null, null, 1rem);
}

.name {
  @include nsnFont(1.5rem, 400, normal);
}

.img {
  border-radius: 50%;
}

.nameContainer {
  @include flexSort(column, null, null, 1rem);
}

.chat {
  position: relative;
  max-width: 40%;
  padding: 2rem;
  @include nsnFont(1.5rem, 400, normal);
  border-radius: 1.5rem;
  background: #e6e6ea;
  min-width: fit-content;
}

.date {
  position: absolute;
  bottom: 0;
  right: -4rem;
  @include font(1.3rem, 400, normal);
}
