@keyframes fadeInDropdown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alarmContainer {
  background: #ffffff;
  position: absolute;
  width: 35rem;
  height: 37rem;
  overflow-y: scroll;
  top: 5rem;
  right: -7rem;
  border-radius: 2rem;
  animation: fadeInDropdown 0.5s ease-out forwards;
  box-shadow: 2px 3px 10px rgb(0, 0, 0, 0.6);
  @include flexSort(column, null, null, null);
  z-index: 2;

  &::-webkit-scrollbar {
    display: none;
  }
}

.titleBox {
  @include flexSort(column, null, null, 1rem);
  border-bottom: solid 0.05rem black;
  padding: 1.5rem 2rem 1rem 1.7rem;
}

.titleBoxRow {
  @include flexSort(null, space-between, center, null);
}

.isReadedToggle {
  @include flexSort(null, space-between, center, 2rem);
  @include nsnFont(1.3rem, 500, normal);
}

.active {
  @include nsnFont(1.4rem, 700, normal);
}

.isReadedToggle button.off {
  color: #8d8989;
}

.title {
  @include nsnFont(1.7rem, 500, normal);
}

.readAllBtn {
  @include nsnFont(1.3rem, 600, normal);
  color: #4885fe;

  &:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 0.1rem;
  }
}

.alarmBox {
  @include flexSort(column, null, null, null);
}

.alarm {
  padding: 1rem;
  color: black;
  @include flexSort(null, null, center, 1rem);

  &.isRead {
    background-color: #ededed;
    color: #afafaf;
  }
}

.alarmTag {
  display: inline-block;
  padding: 0.3rem 1.2rem;
  border-radius: 0.4rem;
  @include nsnFont(1.3rem, 500, normal);
  &.comment {
    background-color: #ebfae8;
    color: #45b555;
  }
  &.chat {
    background-color: #fff7de;
    color: #ff8e1e;
  }
}

.alarmTextContent {
  @include flexSort(column, null, null, 0.4rem);

}

.alarmDefaultText {
  @include line-clamp(2);
  @include nsnFont(1rem, 300, normal);
}

.alarmMessage {
  @include line-clamp(2);
  @include nsnFont(1.5rem, 400, normal);
}

.fetchButton {
  text-align: center;
  padding: 1rem 2rem;
  @include nsnFont(1.6rem, 400, normal);
  &:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 0.1rem;
  }
}
