@keyframes fadeInDropdown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alarmContainer {
  background: #f9fafb;
  position: absolute;
  width: 35rem;
  height: 37rem;
  overflow-y: scroll;
  top: 5rem;
  right: -7rem;
  border-radius: 2rem;
  animation: fadeInDropdown 0.5s ease-out forwards;
  padding: 2rem;
  @include flexSort(column, null, null, 2rem);
  z-index: 2;

  &::-webkit-scrollbar {
    display: none;
  }
}

.titleBox {
  @include flexSort(null, space-between, center, null);
}

.title {
  @include gmarketFont(1.7rem, 400, normal);
}

.totalReadBtn {
  @include gmarketFont(1.3rem, 400, normal);

  &:hover {
    text-decoration: solid underline black 0.2rem;
  }
}

.alarmBox {
  @include flexSort(column, null, null, 1rem);
}

.alarm {
  background: #e0e4ff;
  padding: 1rem;
  color: black;
  @include gmarketFont(1.3rem, 400, normal);
  @include line-clamp(2);

  &.isRead {
    background-color: white;
  }
}

.fetchButton {
  text-align: center;
  padding: 1rem 2rem;
  border: 0.1rem solid $gray;
  border-radius: 3rem;
  @include font(1.6rem, 500, normal);
}
