.stateBox {
  padding-left: 10rem;
  @include flexSort(null, null, null, 6rem);
  border-bottom: 0.1rem solid #e6e6ea;
}

.post,
.comment {
  color: #8d8989;
  @include gmarketFont(2.2rem, 500, normal);

  &.TAKER {
    &.pick {
      color: $taker;
      border-bottom: 0.4rem solid $taker;
    }
  }

  &.GIVER {
    &.pick {
      color: $giver;
      border-bottom: 0.4rem solid $giver;
    }
  }
}
