.container {
  width: 100%;
  height: 100%;
  @include flexSort(null, null, center, null);

  .leftInput {
    height: 100%;
    border: 0.1rem solid $color-gray;
    width: 50%;
    border-radius: 1rem 0 0 1rem;
    border-right: none;
    @include font(2.5rem, 400, normal);
    @include flexSort(null, center, center, null);

    input {
      display: none;
    }

    label {
      height: 100%;
      width: 100%;
      @include flexSort(null, center, center, null);
    }

    input[type="radio"]:checked + label {
      background: $color-primary;
      @include flexSort(null, center, center, null);
      color: $color-white;
      border-radius: 1rem 0 0 1rem;
    }
  }

  .rightInput {
    height: 100%;
    border: 0.1rem solid $color-gray;
    width: 50%;
    @include flexSort(null, center, center, null);
    border-radius: 0 1rem 1rem 0;
    @include font(2.5rem, 400, normal);

    input {
      display: none;
    }

    label {
      height: 100%;
      width: 100%;
      @include flexSort(null, center, center, null);
    }

    input[type="radio"]:checked + label {
      color: $color-white;
      border-radius: 0 1rem 1rem 0;
      background: $color-primary;
      @include flexSort(null, center, center, null);
    }
  }
}
