.container {
  @include flexSort(column, null, center, 2rem);

  .title {
    @include font(3.2rem, 600, normal);
    margin-top: 7rem;
  }

  .contentContainer {
    width: 100%;
    background-color: $giver;
    @include flexSort(null, center, center, null);
    padding: 4rem 0;
  }

  .formContainer {
    background-color: $white;
    max-width: 131.7rem;
    width: 100%;
    padding: 3rem;
    position: relative;
    border-radius: 2rem;
  }

  .infoButton {
    background-color: $primary;
    @include font(1.9rem, 400, normal);
    @include flexSort(null, center, center, null);
    width: 17.9rem;
    height: 4.6rem;
    position: absolute;
    right: 2rem;
  }

  .form {
    margin-top: 7rem;
    @include flexSort(column, null, null, 4.6rem);
  }

  .titleContainer {
    @include flexSort(null, null, center, 11.2rem);
  }

  .label {
    @include font(2.5rem, 500, normal);
    white-space: nowrap;
  }

  .titleInput {
    border-radius: 2rem;
    border: 0.1rem solid $gray;
    @include font(2.5rem, 400, normal);
    padding: 1rem 2rem;
    width: 100%;
  }

  .genderAgeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .genderContainer {
    @include flexSort(null, space-between, center, 11.2rem);
  }

  .ageContainer {
    @include flexSort(null, space-between, center, 11.2rem);
  }

  .ageInput {
    border-radius: 2rem;
    border: 0.1rem solid $gray;
    @include font(2.5rem, 400, normal);
    padding: 1rem 2rem;
    width: 100%;
  }

  .disabilityContainer {
    @include flexSort(null, space-between, center, 11.2rem);
  }

  .helpTypeContainer {
    @include flexSort(null, space-between, center, 11.2rem);
    height: 5.6rem;
  }

  .periodContainer {
    @include flexSort(null, null, center, 11.2rem);
  }

  .periodDetailInput {
    border-radius: 2rem;
    border: 0.1rem solid $gray;
    @include font(2.5rem, 400, normal);
    padding: 1rem 2rem;
    width: 100%;
  }

  .placeContainer {
    @include flexSort(null, null, center, 11.2rem);
    height: 5.6rem;
    width: 60.9rem;
  }

  .detailContainer {
    @include flexSort(null, null, center, 11.2rem);
    height: 22rem;
  }

  .detailTextarea {
    width: 100%;
    height: 22rem;
    @include font(2.5rem, 400, normal);
    overflow-y: auto;
    padding: 2rem;
    border-radius: 1rem;
  }

  .dateContainer {
    @include flexSort(null, null, center, 11.2rem);
    height: 5.6rem;
  }

  .dateBox {
    width: 100%;
    height: 100%;
    @include flexSort(null, space-between, center, 10rem);
  }

  .datePicker {
    height: 100%;
    width: 100%;
    @include font(2rem, 400, normal);
    text-align: center;
  }

  .date {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .dropDownImg {
    position: absolute;
    top: 2rem;
    right: 1rem;
  }

  .buttonContainer {
    @include flexSort(null, center, center, null);
  }

  .button {
    @include font(1.7rem, 400, normal);
    background-color: $primary;

    @include flexSort(null, center, center, null);
    width: 11.7rem;
    height: 4.6rem;
  }
}
