.container {
  flex: 1;
  @include flexSort(column, null, center, 2rem);
  width: 45vw;
  margin: auto;
}

.title {
  @include nsnFont(2rem, 500, normal);
  padding: 2rem 3rem;
  position: absolute;
}

.myInfoContainer {
  width: 100%;
  height: 90%;
  border-radius: 2rem;
  position: relative;
  @include flexSort(column, null, null, null);
  background-color: #e6e6e6;
}

.myInfoBox {
  @include flexSort(null, center, center, 7rem);
  margin: auto;
}

.profileBox {
  @include flexSort(column, null, center, 2rem);
  @include nsnFont(1.8rem, 300, normal);
}

.img {
  border-radius: 50%;
  overflow: hidden;
}

.detailBox {
  @include flexSort(column, null, null, 1rem);
  p {
    @include nsnFont(1.8rem, 300, normal);
  }
  .name {
    @include nsnFont(2.3rem, 400, normal);
  }
}



.link {
  position: absolute;
  padding: 0.1rem 0.1rem;
  bottom: 3rem;
  right: 5rem;
  border-bottom: solid 0.08rem black;
  @include nsnFont(1.3rem, 300, normal);
  @include flexSort(null, center, center, null);
}
