.container {
  flex: 1;
  @include flexSort(column, null, center, 2rem);
  width: 45vw;
  margin: auto;
}

.title {
  @include nsnFont(1.5rem, 500, normal);
  padding: 2rem 3rem;
  position: absolute;
}

.myInfoContainer {
  width: 75%;
  min-height: 25rem;
  aspect-ratio: 7/4;
  border-radius: 2rem;
  position: relative;
  @include flexSort(column, null, null, null);
  background-color: #E6E6E6;
  box-shadow: 0rem 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  padding: 2rem 3rem;
}

.myInfoBox {
  @include flexSort(null, center, center, 7rem);
  margin: auto;
}

.profileBox {
  @include flexSort(column, null, center, 2rem);
  @include nsnFont(1.8rem, 300, normal);
}

.img {
  border-radius: 50%;
  overflow: hidden;
}

.detailBox {
  position: relative;
  top: -0.1rem;
  @include flexSort(column, null, null, 1rem);
  p {
    @include nsnFont(1.5rem, 300, normal);
  }
  .name {
    @include nsnFont(2.3rem, 400, normal);
    margin-bottom: 1rem;
  }
}

.link {
  position: absolute;
  padding: 0.1rem 0.1rem;
  bottom: 3rem;
  right: 5rem;
  border-bottom: solid 0.08rem black;
  @include nsnFont(1.3rem, 300, normal);
  @include flexSort(null, center, center, null);
}
